<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.itacademy.training.task8">

    <application
        android:allowBackup="true"
        android:name=".ui.view.App"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ItAcademyCourse">
        <provider
            android:authorities="by.itacademy.training.task8.provider.ContactsProvider"
            android:name="by.itacademy.training.task8.provider.ContactsProvider"
            android:exported="true"
            android:enabled="true"/>
        <activity
            android:name=".ui.view.MultithreadingPreferenceSettingsActivity"
            android:parentActivityName=".ui.view.MainActivity" />
        <activity
            android:name=".ui.view.MainActivity"
            android:theme="@style/Theme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.AddContactActivity"
            android:parentActivityName=".ui.view.MainActivity" />
        <activity
            android:name=".ui.view.EditContactActivity"
            android:parentActivityName=".ui.view.MainActivity" />
    </application>

</manifest>